*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Nunito', sans-serif;
}
var {
    --bg--:#fff;
    --card-curve: 6px;
    --light-bg-color: #F7F9FC;
    --title-color-: #2C3038;
    --card--shaww:1px 5px 7.5px rgba(14, 13, 13, 0.2);
}
h3{
    color: #dc4f72;
}
li{
    list-style: none;
}

a{
    
    color: #2C3038;
}
a:hover{
    color: #dc4f72  ;
}
/* ------ */
header.main-header {
    background-color: #ffffff;
    padding: 20px 90px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.navbar-brand span {
    color: #dc4f72;
}
/* #portNabar */

#portNabar .nav-link{
    color: black;
    transition: all 0.5s;
}
#portNabar .nab-item.active .nav-link{
    color: #dc4f72;
    
}
#portNabar .nav-link:hover{
    color: #dc4f72;
}
#portNabar .nav-link::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #dc4f72;
    transition: all 0.5s;
}
/* sau hover */
#portNabar .nav-link:hover::after{
    width: 50%;

}
#portNabar .active .nav-link::after{
    width: 50%;
}
/* -- */
a.search-search span.fa {
    color: #5a5a5a;
    font-size: 15px;
    opacity: .7;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: #F7F9FC;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #eee;
}
/* -- */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem
}
.btn{
    border-color:  #dc4f72;
    background-color: #ffffff;
    color: #dc4f72;
    padding: 20px 40px;

}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.theme-button:hover{
    background-color: #dc4f72;
}
.btn-group:hover {
    color: #ffffff;
}
h6 {
    color: #dc4f72;
}
h3{
    color: #212529;
}
p{
    color: #212529;
}

.wel-index2 .s-block {
    border-radius: var(--card-curve);
   
    background: var(--light-bg-color);
    padding: 3rem 2rem;
    border: 1px solid var(--light-bg-color);
    background: rgb(247,249,252);
    border-radius: 10px; 
   
    backdrop-filter: blur(6px);
     box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
    padding: 10px;
    transform: translateY(0);
    transition: all 0.5s;
}
.wel-index2 .s-block:hover{
    background-color: #ffffff;
    transform: translateY(-10px);
}




.wel-index3 {
    background-color: #F7F9FC;
   
}
.img-curve {
    
    border-radius: 10px;
   transition: 0.3s ease;
   transform: translateY(0);
}
.img-curve:hover{
    transform: translateY(-20px);
}
/* 
 */
 .wel-stats .stats_info{
   
 border: 1px solid #F7F9FC;
 border-radius: 10px; 

 backdrop-filter: blur(6px);
  box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
 padding: 30px 20px;
 transform: translateY(0);
 transition: all 0.5s;
 }
 /*  */
 .team-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
.btn-light {
    color: #5a5a5a;
    background-color: #eee;
    border: 2px solid transparent;
    border-bottom: 2px;
}
/*  */


 .btn-primary {
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    display: block;
    margin: 0;
    cursor: pointer;
    color: var(--title-color);
}
.wel-faq-block .w3l-faq p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 24.5px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}
/* table */
.portAvatar{
    width: 140px;
    border-radius: 50%;
    

      
      
    
    
    
}
/* vw : viewport width (thường dùng cho font size , vùng nội dung chữ quan trọng mà khách hàng 
    không muốn thay đổi nội dung ví dụ như slogan, banner, carousel)
    %: lấy kích thước thẻ cha gần nhất
    vw: lấy kích thước của trình duyệt
    vh: viewport height 
    */

/*Bước 2  */
#portCarouselID .carousel-item{
    height: 100vh;
}
#portCarouselID .carousel-item>img{
    height: 90%;
    filter: brightness(60%);
    object-fit: cover;
}
#portCarouselID .carousel-caption{
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

/* #portCarouselID .carousel-caption{
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
} xử lý code position: absolute;
B3: chỉnh caption, ở giữa thẻ có position absolute
 */
 
/* B4: chỉnh hình dạng indicators */ 
#portCarouselID .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#portCarouselID .carousel-indicators li.active{
    background-color: #dc4f72;
}


/* CAROUSEL */
.w3l-footer .end-column {
    border: 1px solid #F7F9FC;
 border-radius: 10px; 

 backdrop-filter: blur(6px);
  box-shadow: 0 0 2px 0 rgba(0,0,0,.3);
 padding: 30px 20px;
 transform: translateY(0);
 transition: all 0.5s;}

 .w3l-footer .subscribe input[type="email"] {
    background: var(--light-bg-color);
    border-radius: 7px ;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: var(--title-color-);
    font-weight: 600;
    
}

.w3l-footer .subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 5px;
}
.w3l-footer li a i {
    display: flex;
    flex-wrap: wrap;
    height: 30px; 
    width: 30px; 
    line-height: 30px;
}
/* BACK TO TOP */
.backToTop {
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: white;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;

}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}